{
  "semi": false,
  "singleQuote": true,

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],

  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}